/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-12-01, 14:26:08
    Author     : student
*/

*{
    margin: 0;
    padding: 0;
}
div0{
    width: 500px;
    height: 100px;
    padding: 20px;

}
#div1{
    float: left;
    overflow-y: scroll;
    margin: 10px;

    opacity: 1;
    width: 400px;
    height: 400px;
    background-color: rgba(255,255,0,1);
}
#div11{

    width: 100px;
    height: 100px;
    background-color: red;
}
#div12{

    width: 90px;
    height: 90px;
    background-color: green;
}
#div2{
    
    float: left;
    clear: left;
    margin: 10px;
    display:block;
    visibility: visible;
    width: 400px;
    height: 400px;
    background-color: green; 
}
#div3{
    float: left;
    clear: left;
    margin: 10px;
    display:block;
    overflow: hidden;
    width: 400px;
    height: 400px;
    background-color: blue; 
}
.center{
    width: 100%;
}
.p1{
    margin: 10px;
    float: left;
}
.p2{
  
    margin: 10px;
    float: right;
}
.p3{
    clear: both;
    text-align: center;
}
.p4{
    margin: 10px;
    float: left;
}
.p5{
  margin: 10px;
    float: right;
}

