/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-12-02, 17:15:00
    Author     : student
*/
* {
    margin: 0;
    padding: 0;
}

.wraper {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}

.clerfix::after {
    display: block;
    content: "";
    clear: both;
}

h1 {
    text-align: center;
    height: 50px;
    line-height: 50px;
    border: 2px solid black;
}

h2 {
    text-align: center;
    line-height: 40px;
    border: 2px solid black;
    height: 40px;
    margin: 50px;
}

ul {
    width: 90%;
    margin: 0 auto 10px auto;
}

li {
    list-style: none;
    float: left;

    border: 2px solid black;
}

a {
    padding: 0px 95px;
}

footer {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    border: 2px solid black;

}

aside {
    float: right;
    width: 20%;
    height: 30%;
    border: 2px solid black;
}

article {
    width: 79%;
    border: 2px solid black;
}