* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Saira Condensed',
        sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    transition: .3s linear;
    overflow: hidden;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #ccc;
    position: relative;
}

img.color {
    position: absolute;
    bottom: 0;
    right: -5%;
    height: 36%;
    z-index: 1;
    animation: color 4s linear infinite;
}

img.gray {
    position: absolute;
    bottom: -11%;
    left: -90%;
    height: 110%;
    opacity: 0.2;
    animation: gray 4s linear infinite;

}

.text {
    position: absolute;
    top: 5%;
    left: 0;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: text 4s linear infinite;
}

.text h1 {
    font-size: 5rem;
}

.text h2 {
    font-size: 2.6rem;
}

@media (orientation:landscape) {
    img.color {
        right: 3%;
        height: 56%;
    }

    img.gray {
        bottom: -15%;
        left: -100%;
        height: 130%;
    }

    .text {
        top: 2%;
        width: 60%;
        right: 0;
        left: auto;
    }

    .text h1 {
        font-size: 2.8rem;
    }

    .text h2 {
        font-size: 1.8rem;
    }
}

@media (min-width: 360px) and (min-height:740px) {
    img.gray {
        bottom: -10%;
        left: -120%;
        height: 115%;
    }
}

@media only screen and (min-width:375px) {
    img.gray {
        bottom: -11%;
        left: -110%;
        height: 110%;
    }

    .text h1 {
        font-size: 5.8rem;
    }

    .text h2 {
        font-size: 3rem;
    }
}

@media (min-width:390px) {
    .text h1 {
        font-size: 5rem;
    }

    .text h2 {
        font-size: 3rem;
    }

    img.gray {
        left: -90%;
    }
}

@media (min-width:568px) and (orientation:landscape) {
    img.gray {
        left: -5%;
        height: 125%;
        bottom: -13%;
    }

    .text {
        top: 14%;
    }

    .text h1 {
        font-size: 3rem;
    }
}


@media (min-width:667px) and (orientation:landscape) {
    .text {
        top: 11%;
    }

    .text h1 {
        font-size: 3rem;
    }

    .text h2 {
        font-size: 2.2rem;
    }

    img.gray {
        left: -5%;
        height: 125%;
        bottom: -13%;
    }
}

@media (min-width:768px) and (orientation:portrait) {
    img.gray {
        bottom: -12%;
        left: -60%;
        height: 115%;
    }

    .text {
        top: 8%;
    }

    .text h1 {
        font-size: 7rem;
    }

    .text h2 {
        font-size: 5rem;
    }
}

@media (min-width:800px) and (orientation:portrait) {
    img.gray {
        left: -80%;
    }
}


@media (min-width:812px) and (orientation:landscape) {
    img.gray {
        bottom: -12%;
        left: 5%;
        height: 125%;
    }

    img.color {
        right: 10%;
    }

    .text {
        top: 9%;
    }

    .text h1 {
        font-size: 4.2rem;
    }

}

@media (min-width:1024px) {
    .text h1 {
        font-size: 7rem;
    }

    .text h2 {
        font-size: 4rem;
    }

    img.gray {
        left: -30%;
    }

    img.color {
        right: 3%;
    }

}

@media(min-width:1024px) and (orientation:landscape) {
    img.gray {
        left: -40%;
    }

    .text h1 {
        font-size: 4rem;
    }

    .text h2 {
        font-size: 3rem;
    }
}

@media(min-width:1024px) and (orientation:portrait) {
    img.gray {
        left: -65%;
    }

    .text h1 {
        font-size: 9rem;
    }

    .text h2 {
        font-size: 6rem;
    }
}

@media(min-width:1280px) and (orientation:landscape) {
    img.gray {
        left: -10%;
    }

    .text h1 {
        font-size: 7rem;
    }

    .text h2 {
        font-size: 4.5rem;
    }
}



@media (min-width: 1600px) {
    .text h1 {
        font-size: 8rem;
    }

    .text h2 {
        font-size: 5rem;
    }

    img.gray {
        left: -1%;
        height: 130%;
    }

    img.color {
        right: 2%;
    }

}

@media (min-width:1920px) {
    .text h1 {
        font-size: 9rem;
    }

    .text h2 {
        font-size: 6rem;
    }

    img.gray {
        left: -5%;
        bottom: -13%;
        height: 130%;
    }

    img.color {
        right: 7%;
    }

}

@keyframes color {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    87% {
        opacity: 1;
    }


    100% {
        transform: translateX(-5%);
        opacity: 0;
    }
}

@keyframes gray {
    0% {
        transform: translateX(0) scale(.8);
        opacity: .5;
    }

    87% {
        opacity: .5;
    }


    100% {
        transform: translateX(5%) scale(.9);
        opacity: 0;
    }
}

@keyframes text {
    0% {
        transform: scale(.9);
        opacity: 1;
    }


    87% {
        opacity: 1;
    }

    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}

/* menu burger */
.burger {
    position: fixed;
    top: 15px;
    right: 20px;
    font-size: 35px;
    line-height: 50px;
    z-index: 4;
    transition: .3s linear;
}

.burger:hover {
    cursor: pointer;
}

aside {
    position: fixed;
    top: -550px;
    right: -550px;
    width: 550px;
    height: 550px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #ddd;
    z-index: 2;
    opacity: .9;
    text-transform: uppercase;
    transition: .3s linear;
}

.fas {
    display: none;

}

i.show {
    display: block;
}

.fa-bars {
    color: green;
}

.fa-times {
    color: red;
}

aside.show {
    top: -250px;
    right: -250px;
}

aside ul {
    margin: 55% 20%;

}

aside li {
    list-style: none;
    padding: 4px;
}

aside a {
    font-size: 24px;
    letter-spacing: 3px;
    text-decoration: none;
    color: black;
}

aside a:hover {
    color: red;
    cursor: pointer;
}

@media (min-width:768px) and (orientation:portrait) {
    .burger {
        font-size: 50px;
    }

    aside {
        top: -700px;
        right: -700px;
        width: 700px;
        height: 700px;
    }

    aside.show {
        top: -280px;
        right: -280px;
    }

    aside ul {
        margin: 48% 19%;

    }

    aside a {
        font-size: 40px;
    }
}

/* sekcja omnie */

main {
    background-color: black;
}

section h1 {
    padding: 10px;
    text-align: center;
    font-size: 2.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 2px white solid;
}

section h2 {
    padding: 5px;
    font-size: 2.2rem;
}

section h3 {
    font-size: 2rem;
}

.web img {
    display: block;
    width: 100%;
}

.aboutMe .about {
    padding: 5px;
    background-color: #ff4f2c;
    color: white;
}

.about th {
    width: 20%;
    vertical-align: top;
}

td,
th {
    text-align: left;
    font-size: 1.8rem;
    padding: 0 5px;
}

.education,
.skills,
.aboutMe {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 20px;
}

.education img {
    width: 100%;
}

.education .about {
    padding: 5px;
    background-color: #29a6dc;
    color: white;
}

.education ul {
    padding-left: 25px;
}

.about li {
    list-style: circle;
    font-size: 1.8rem;
    font-weight: bold;
}

.about .school {
    padding-left: 20%;
    list-style: none;
    font-weight: normal;
}

.skills {
    padding-bottom: 20px;
}

.skills h2 {
    text-align: center;
}

.skills img {
    width: 100%;
}

.skills .about {
    padding: 5px;
    background-color: #ff4f2c;
    color: white;
}

.container {
    width: 95%;
    margin: 0 auto;
    background-color: #ddd;
    border: 2px solid black;
    border-radius: 20px;
}

.skill {
    text-align: right;
    padding: 5px;
    border-radius: 20px;
    font-size: 1.2rem;

}

.html {
    width: 80%;
    background-color: #4CAF50;
}

.css {
    width: 80%;
    background-color: #2196F3;
}

.js {
    width: 65%;
    background-color: #f44336;
}

.skills ul {
    padding-left: 25px;
}

.skills .about li {
    list-style-type: circle;
    font-size: 1.6rem;
    font-weight: normal;
}

@media (min-width: 1024px) {

    section h1 {
        font-size: 6rem;
    }

    section h2 {
        font-size: 3rem;
    }

    td,
    th {
        font-size: 3rem;
    }

    .education ul {
        padding: 0 35px;
    }

    .about li {
        font-size: 3rem;
    }

    .skills h3 {
        font-size: 2.5rem;
    }

    .skills .about li {
        font-size: 2rem;
    }
}

.slogan {
    text-align: center;
    background-image: url(img/motto.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

.slogan h1 {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 25px;

}

.slogan p {
    font-size: 18px;
}

.slogan p.author {
    margin-top: 20px;
    font-size: 12px;
}

.slogan .bg {
    padding: 30px 10px;
    background-color: rgba(0, 63, 114, 0.5);
}

@media (orientation: landscape) {
    .slogan p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {

    .slogan .bg {
        padding: 50px 10px;

    }

    .slogan h1 {
        font-size: 48px;
        margin-bottom: 35px;

    }

    .slogan p {
        font-size: 26px;
        width: 60%;
        margin: 0 auto;
    }

    .slogan p.author {
        margin-top: 40px;
        font-size: 18px;
    }
}

@media (min-width: 1024px) {

    .slogan .bg {
        padding: 80px 10px;

    }

    .slogan h1 {
        font-size: 60px;
        margin-bottom: 55px;

    }

    .slogan p {
        font-size: 40px;
        width: 50%;
    }

    .slogan p.author {
        margin-top: 40px;
        font-size: 26px;
    }
}

.contact {
    background-color: #000;
    color: white;
    padding: 30px 20px;
    margin-bottom: 0;

}

.contact h1 {
    border: none;
}

.contact h1 {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: white;
    text-align: center;
}

.contact .wrap {
    padding-top: 20px;
    max-width: 1024px;
    margin: 0 auto;
}

.contact input,
.contact button,
.contact textarea {
    width: 100%;
    margin-bottom: 25px;
    font-size: 14px;
}

.contact input {

    height: 36px;

}

.contact textarea {
    height: 120px
}

.contact #checkbox {
    float: left;
    height: 20px;
    width: 20px;
}

.contact label {
    display: none;
}

.contact .agree {
    font-size: 16px;
    padding-left: 10px;
    line-height: 20px;
}

.contact button {
    font-size: 14px;
    line-height: 40px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.contact .socials {
    padding-top: 30px;
    font-size: 0;
}

.contact .social {

    padding: 10px 0;
    color: white;

}

.contact .social img {
    float: left;

}

.contact span {
    line-height: 72px;
    padding-left: 20px;
    float: left;
    font-size: 20px;
}

.contact .socials a {
    color: white;
}

@media (min-width: 533px) {
    .contact .social {
        display: inline-block;
        width: 50%;
    }
}

@media (min-width: 1024px) {

    .contact h1 {
        font-size: 60px;
        padding: 30px 0;
    }

    .contact form,
    .contact .socials {
        float: left;
        width: 50%;
        margin: 0 auto;
    }

    .contact .socials {
        padding: 0;
    }

    .contact .social {
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    .contact input,
    .contact button,
    .contact textarea {
        margin-bottom: 35px;

    }

    .contact input {

        height: 46px;
        font-size: 24px;

    }

    .contact textarea {
        height: 180px;
        font-size: 24px;
    }

    .contact button {
        font-size: 20px;
        line-height: 50px;
        transition: .3s;
        cursor: pointer;

    }

    .contact button:hover {
        color: black;
        background-color: #fff;
    }
}

footer {
    width: 100%;
    background-color: #ccc;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

footer p {
    font-size: 13px;
}